.snackbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 40rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--grey-900);
  color: var(--white);
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.35);
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.snackbar--show {
  opacity: 1;
}

.snackbar--hide {
  opacity: 0;
}
